In [7]:
import pandas as pd

df = pd.read_excel('.\Dataset\Haircut Tip Amounts.xlsx', 'Sheet1')

c:\users\olive\documents\6. semester\mandatories\aai_first_mandatory\.venv\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,THE FIRST 114 LINES OF DATA HAVE SOME FORMATTING ISSUES. SHE DIDN’T USE MILITARY TIME (BUT THE OPEN HOURS ARE 10AM TO 8PM). ALSO THERE IS SOME VARIATION ON THE DAY OF WEEK SPELLINGS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tip amount,Time,Day,Culture,Married,Age,NaN,NaN,Culture Codes,NaN
2,0,5,Fri,I,NM,30,NaN,NaN,I,Indian
3,1,2,Tue,E,NM,10,NaN,NaN,E,European
4,1,7,Tues,I,NM,35,NaN,NaN,B,African American
...,...,...,...,...,...,...,...,...,...,...
231,10,1,Sat,W,M,40,NaN,NaN,NaN,NaN
232,1,13,Sat,I,NM,10,NaN,NaN,NaN,NaN
233,5,14,Sat,W,M,36,NaN,NaN,NaN,NaN
234,3,15,Sat,W,NM,8,NaN,NaN,NaN,NaN
235,5,16,Fri,I,NM,35,NaN,NaN,NaN,NaN

In [8]:
print(df)

    THE FIRST 114 LINES OF DATA HAVE SOME FORMATTING ISSUES.  SHE DIDN’T USE MILITARY TIME (BUT THE OPEN HOURS ARE 10AM TO 8PM).  ALSO THERE IS SOME VARIATION ON THE DAY OF WEEK SPELLINGS  \
0                                                  NaN
1                                           Tip amount
2                                                    0
3                                                    1
4                                                    1
..                                                 ...
231                                                 10
232                                                  1
233                                                  5
234                                                  3
235                                                  5

    Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  Unnamed: 6  \
0          NaN        NaN        NaN        NaN        NaN         NaN
1         Time        Day    Culture    Married        Age         NaN
2            5        Fri          I         NM         30         NaN
3            2        Tue          E         NM         10         NaN
4            7       Tues          I         NM         35         NaN
..         ...        ...        ...        ...        ...         ...
231          1        Sat          W          M         40         NaN
232         13        Sat          I         NM         10         NaN
233         14        Sat          W          M         36         NaN
234         15        Sat          W         NM          8         NaN
235         16        Fri          I         NM         35         NaN

     Unnamed: 7     Unnamed: 8        Unnamed: 9
0           NaN            NaN               NaN
1           NaN  Culture Codes               NaN
2           NaN              I            Indian
3           NaN              E          European
4           NaN              B  African American
..          ...            ...               ...
231         NaN            NaN               NaN
232         NaN            NaN               NaN
233         NaN            NaN               NaN
234         NaN            NaN               NaN
235         NaN            NaN               NaN

[236 rows x 10 columns]